<!--  Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license.
        See LICENSE in the source repository root for complete license information. -->

<div class="ms-Grid-row">
    <!-- App navigation bar markup. -->
    <span class="ms-font-m ms-fontColor-green">access token: {{accesstoken}}!</span>
</div>